* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
}

html { 
  
  background-image:linear-gradient(#92c9a1,#f2f8f6);
  font-size: 16px;
  font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}


body { 
  min-height: 100vh;
  width: 100%;
  padding-top:3%;
  }


  .snow_wrap { 
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
  
  }


  .snow,.snow:after,.snow:before {
    content: "";
    position: absolute;
    top:-2000px;
    left:0;
    right:0;
    bottom:0;
    background-image: 
    radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;

    animation: snowAnim 3s linear;
    animation-iteration-count: infinite;
 
   }

   .snow:after { 
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 6s
   }
   .snow:before { 
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 9s
   }

   @keyframes snowAnim{
    from{
      transform: translateY(0);
    }
    to{
      transform: translateY(650px)
    }
   }

p { 
  text-align: center;
  
    font-family: "Poiret One", sans-serif;
    font-weight: 800;
    font-style: normal;
  
    
  font-size: 110%;
  
}

.star {
  color: gold;
  text-shadow: 5px 5px 10px goldenrod;
  padding-bottom: 3%;
}

.tree {
  color:darkslategray;
  text-shadow: 5px 5px 10px white;
  padding-bottom: 3%;
}


a { 
  color:#623406;
  display: inline-block;
  transition-duration: 0.3s ease, color 0.3 ease;
  padding-bottom: 2%;
}

a:hover { 
  transform: scale(1.5);
  color: #890606;
}